---
layout: default
---

<article class="post">

  <h1>{{ page.title }}</h1>
  
  <div class="mtr-post-entry">
    <span class="date">
      Written on {{ page.date | date: "%B %e, %Y" }} |
      <span id="{{page.title}}"></span>
    </span>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>

<script>
  const id = "{{page.title}}";
  // Attempt to use var for accurate count, otherwise attempt to figure it out based on content length split on spaces.
  const wordCount = parseInt("{{page.words}}", 10) || parseInt("{{page.content | split: ' ' | size}}", 10);
  // don't use image adjustment if var not provided
  const imageCount = parseInt("{{page.images}}", 10) || 0;
  estimatedReadTime(id, wordCount, imageCount);
</script>

